{% extends "template.html.twig" %} {% block title %}la bonne cocotte {% endblock %}

{%block stylesheet %}<link href="{{ style }}CSS/style.css" rel="stylesheet" />{%
endblock %} {% block content %}

<main>
  {# ---------- Hero section ---------- #}

  <section id="hero-section">
  
    
  </section>
</main>

{%endblock %}